.gamereditor__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(229, 17%, 52%, 0.58);
    z-index: 2;
}
.gamereditor__content {
    position: absolute;
    top: 2em;
    bottom: 2em;
    left: 20%;
    right: 20%;
    padding: 2em;
    background-color: white;
    z-index: 2;
}