.display {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin: 0.5em 0 0.5em 0;
}
.display__honourlist {
    flex: 1;
    height: 2.3em;
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: silver;
    box-shadow: 0 2px 3px 2px hsl(0,0%,27%) inset, 0 0px 2px 1px rgb(143, 143, 143);
    border-radius: 0.2em;
    padding-left: 0.3em;
}
.display__honour img {
    width: 2em;
    padding: 0 0.1em 0 0.1em;
}
.display__honour div {
    padding-right: 0.1em;
}

.display__honour {
    display: flex;
    align-items: center;
    border-radius: 0.2em;
}

.display__sum {
    padding: 0 0.3em 0 0.2em;
    flex: 1;
    text-align: right;
}
.display__sum::before {
    content: "=";
}

.display__delete {
    display: block;
    position: relative;
    color: transparent;
    outline: none;
    width: 2.2em;
    height: 2.2em;
    margin-left: 0.5em;
    background-color: hsl(220, 51%, 75%);
    border: 0;
    border-radius: 0.3em;
    box-shadow: 0 2px 2px 2px hsl(0, 0%, 30%), 0 4px 4px 3px hsl(0, 0%, 75%);
    font: inherit;
}
.display__delete::after {
    display: block;
    content: "<<";
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 0.7em;

}
.display__delete:active {
    box-shadow: 0 0px 2px 2px hsl(0, 0%, 65%);
    transform: translateY(4px);
  }

  .display__honour--wasabi {
    background-image: radial-gradient(hsl(100, 0%, 30%), rgb(73, 163, 24));
  }