.gamerselector-layout {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.gamerselector-layout li {
    flex: auto;
    background-color: hsl(229, 40%, 80%);
    text-align: center;
    border-radius: 8px 8px 0 0;
    border: 1px solid #c0c0c0; 
    line-height: 2em;
}
.gamerselector-layout li.selected { 
    background-color: hsl(229, 90%, 90%);
}
.gamerselector-layout li + li {
    margin-left: 1px;
}
